
.comment-box {
  position: absolute; /* must be absolute */
}

.comment-box-highlighted {
  background-color: #ffe572;
}

/* Refer to http://stackoverflow.com/questions/5750559 */
.comment-box-body[contenteditable=true]:focus {
  outline: none;
}

.comment-box-footer {
  padding: 5px;
}

.comment-code {
  position: absolute; /* must be absolute */
  background-color: #fcfac6;
}

.comment-code-highlighted {
  background-color: #ffe168;
}
