extends layout

append css
  style(type='text/css', media='screen').
    #editor {
      position: relative; /* must be relative */
      height: 240px;
      min-height: 240px;  /* ensure height is at least this large */
    }

    #comments {
      position: relative; /* must be relative */
      height: 240px;
      min-height: 240px;  /* ensure height is at least this large */
      overflow-y: hidden; /* hide comments past height */
    }

block content
  .container
    .col-xs-8
      #editor
    .col-xs-4
      #comments

append js
  script.
    require(['lib/view', 'bootstrap'], function(view) {
      window.grading = window.grading || {};
      window.grading.view = view.exec;
    });
    require(['lib/comment-vm/main']);
